.mau-xanh-la{
    color:yellowgreen;
}
.mau-vang{
    color:gold;
}
.mau-cam{
    color:darkorange;
}
.mau-xanh-nhat{
    color:deepskyblue;
}
.mau-san-ho{
    color:coral;
}
.chu-vua{
    font-size: 20px;
}