.hinh1{
    height:700px; 
    background-image:url(./hinh1.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
}
.hinh2{
    height:700px; 
    background-image:url(./hinh2.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
}
.hinh3{
    height:700px; 
    background-image:url(./hinh3.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
}
.hinha{
    max-width: 550px;
    height:440px;
    background-image:url(./hinha.png);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
}
.hinhb{
    max-width: 550px;
    height:440px;
    background-image:url(./hinhb.png);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
}
.hinhc{
    max-width: 437px;
    height:440px;
    background-image:url(./hinhc.png);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
}