.hinh1{
    height:700px; 
    background-image:url(./hinh1.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
}
.hinh2{
    height:700px; 
    background-image:url(./hinh2.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
}
.hinh3{
    height:700px; 
    background-image:url(./hinh3.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
}